/* En este archivo escriban su CSS */
/* Importar aquí la font */
@import url("https://fonts.googleapis.com/css2? family= Lato & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/

/* Estilos comunes para dispositivos móviles y de escritorio */
body {
    background-image: url(https://img.freepik.com/foto-gratis/vista-navegador-codigo-html-sitio-web-impresa-papel-blanco-vista-cerca_211682-164.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fbfbfb;
    color: #0f0f0f;
}

section article {
    background-color: #f6a4e3;
}

.title-container h1 {
    font-size: 36px;
    color: #d114a8;
}

.title-container h2 {
    font-size: 28px;
    color: #d114a8;
    text-align: center;
}

p {
    margin: 15px 0px;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 90px;
    width: 100%;
    box-shadow: 0 30px 10px -5px #5f5f5f;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    width: 90px;
}

.menu {
    display: flex;
    font-size: 20px;
    margin-right: 16px;
}

.menu li a {
    padding: 16px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
}

#inicio {
    justify-content: space-around;
    background-color: transparent; /* Quitar el fondo rosado */
    flex-direction: row;
}

#Contacto {
    background-color: #dd39c5; /* Mantener el fondo rosado */
}

.presentacion-img {
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.presentacion-img img {
    width: 400px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.presentacion {
    text-align: left;
    width: 100%;
}

.btn-cv {
    background-color: #f549d0;
    color: #fbfbfb;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 25px;
    margin-top: 10px;
    display: inline-block;
    

    
}

.btn-cv:hover {
    background-color: #f41ec6;
    transition: 0.4;
}

footer {
    text-align: center;
    background-color: #f099e0e0;
    padding: 16px;
    color: white;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}

.social-links li {
    margin-right: 10px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links li a img {
    width: 50px;
    height: 40px;
    margin-right: 10px;
    background-color:#fa9febf6 ;
}

/* Estilos comunes para dispositivos móviles y de escritorio */
body {
    background-image: url(https://img.freepik.com/foto-gratis/vista-navegador-codigo-html-sitio-web-impresa-papel-blanco-vista-cerca_211682-164.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fbfbfb;
    color: #0f0f0f;
}
.active {
    color: #e43ec0;
}

/* ... */

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
    main {
        padding-top: 60px;
    }

    #inicio {
        flex-direction: column; /* Cambia a column */
    }

    /* Estilos para el elemento activo en el menú */
    
}


/* Estilos específicos para dispositivos de escritorio */
@media (min-width: 768px) {
    main {
        width: 90%;
    }

    .menu li a:hover {
        background-color: rgba(235, 86, 222, 0.59);
    }
    #inicio {
        flex-direction: column;
    }


}


/* Estilos para los logos de contacto */
.social-links li a:hover img {
   background-color: #ef3dddee;
   
}

/* Estilos para los enlaces "Inicio" y "Contacto" */
.menu li a.clicked {
    color: #e43ec0;
}
